[submodule "lib/Watchy"]
	path = lib/Watchy
	url = https://github.com/sqfmi/Watchy.git
[submodule "lib/watchy-pipboy"]
	path = lib/watchy-pipboy
	url = https://github.com/sqfmi/watchy-pipboy
[submodule "lib/watchy-starfield"]
	path = lib/watchy-starfield
	url = https://github.com/Prokuon/watchy-starfield
[submodule "lib/Brainwork-for-Watchy"]
	path = lib/Brainwork-for-Watchy
	url = https://github.com/BraininaBowl/Brainwork-for-Watchy.git
[submodule "lib/watchy-MGSV"]
	path = lib/watchy-MGSV
	url = https://github.com/Prokuon/watchy-MGSV.git
[submodule "lib/Slacker"]
	path = lib/Slacker
	url = https://github.com/uCBill/Slacker.git
